#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config EXAMPLES_SETPIN
	bool "SETPIN example lsh"
	default n
	---help---
		Enable the lsh led example

if EXAMPLES_SETPIN

config EXAMPLES_SETPIN_PROGNAME
	string "Program name"
	default "setpin"
	depends on BUILD_KERNEL
	---help---
		This is the name of the program that will be use when the NSH ELF
		program is installed.

config EXAMPLES_SETPIN_PRIORITY
	int "MYLED task priority"
	default 100

config EXAMPLES_SETPIN_STACKSIZE
	int "MYLED stack size"
	default 2048

endif
